In [2]:
import pandas as pd
import numpy as np
import sqlalchemy

SQL_CREDENTIALS = "root:1234"
engine = sqlalchemy.create_engine('mysql+pymysql://' + SQL_CREDENTIALS + '@localhost:3306/music_recommender_db')
COL_SEPARATOR = "_123456789987654321_"

In [3]:
def _genres_to_list(string_of_genres):
    if string_of_genres == "NaN":
        return np.nan
    else:
        return string_of_genres.split("\t")[:-1]

In [17]:
lowms_users = pd.read_csv("data/low_main_users.txt", usecols=["user_id"], squeeze=True).tolist()
lowms_users

[1049656,
 1055118,
 1056935,
 1070023,
 1072752,
 2043627,
 2052756,
 2064055,
 2073140,
 2095434,
 2109450,
 2164032,
 2246769,
 2246867,
 2248678,
 2271579,
 2324805,
 2348935,
 2358595,
 2364460,
 2381673,
 2391075,
 2410164,
 2436468,
 2439257,
 2443936,
 2446968,
 2459123,
 2467229,
 2470953,
 2471748,
 2501614,
 2509909,
 2536308,
 2547668,
 2556103,
 2583651,
 2613646,
 2653289,
 2706253,
 2748847,
 2750806,
 2778746,
 2797347,
 2798275,
 2828087,
 2856654,
 2968467,
 2983840,
 2992404,
 3003181,
 3115048,
 3123045,
 3124791,
 3145388,
 3154812,
 3169470,
 3185647,
 3200397,
 3202657,
 3207133,
 3238455,
 3276005,
 3282598,
 3301827,
 3313974,
 3322129,
 3335103,
 3336418,
 3337513,
 3341601,
 3344910,
 3352810,
 3387625,
 3391219,
 3393602,
 3397211,
 3412886,
 3413851,
 3422269,
 3470153,
 3474413,
 3480049,
 3497765,
 3507539,
 3519835,
 3530514,
 3532686,
 3546136,
 3557984,
 3594170,
 3599019,
 3608228,
 3623824,
 3649737,
 3683698,
 3704198,
 3715356,
 3727691,
 3745026,
 3822486,
 3828817,
 3837198,
 3847834,
 3861446,
 3868463,
 3875659,
 3955603,
 3960625,
 3996907,
 4084063,
 4127879,
 4142269,
 4166869,
 4168551,
 4172558,
 4186583,
 4198221,
 4243688,
 4251999,
 4273073,
 4286602,
 4292780,
 4304019,
 4341877,
 4352858,
 4363936,
 4382169,
 4421277,
 4430040,
 4454916,
 4509271,
 4530824,
 4550390,
 4570701,
 4583408,
 4600322,
 4649427,
 4650569,
 4658315,
 4664425,
 4666436,
 4677456,
 4700062,
 4702888,
 4722861,
 4729661,
 4733116,
 4736588,
 4763308,
 4768471,
 4772855,
 4780200,
 4787638,
 4803440,
 4815560,
 4822375,
 4827047,
 4827499,
 4834392,
 4845079,
 4845971,
 4860947,
 4870373,
 4926271,
 4933688,
 4948442,
 4965724,
 4981729,
 5037301,
 5038978,
 5039367,
 5048235,
 5060760,
 5072250,
 5076402,
 5077075,
 5077725,
 5080286,
 5081095,
 5103378,
 5128699,
 5178899,
 5200057,
 5205642,
 5228326,
 5240869,
 5241479,
 5266830,
 5302726,
 5312009,
 5318122,
 5329116,
 5334635,
 5337446,
 5355918,
 5373168,
 5376986,
 5382925,
 5385966,
 5394675,
 5400607,
 5403848,
 5426684,
 5443440,
 5443686,
 5477831,
 5482664,
 5490200,
 5502042,
 5552481,
 5556438,
 5574978,
 5584452,
 5595258,
 5596586,
 5596723,
 5616910,
 5639188,
 5647385,
 5666356,
 5684983,
 5703352,
 5705005,
 5710558,
 5711380,
 5714524,
 5744254,
 5767311,
 5773732,
 5793279,
 5800422,
 5856301,
 5899853,
 5909861,
 5922149,
 5923339,
 5960656,
 5972502,
 5972535,
 5974173,
 5975468,
 6000819,
 6017403,
 6022341,
 6045976,
 6065666,
 6066282,
 6071094,
 6087875,
 6096026,
 6124452,
 6177582,
 6197450,
 6244099,
 6258625,
 6266231,
 6280895,
 6301852,
 6308224,
 6391855,
 6398204,
 6445021,
 6446517,
 6452505,
 6455499,
 6464088,
 6473142,
 6484560,
 6485145,
 6523098,
 6544863,
 6578859,
 6592817,
 6601407,
 6620961,
 6621651,
 6640603,
 6653912,
 6670376,
 6701249,
 6705855,
 6709437,
 6724913,
 6725270,
 6731472,
 6763319,
 6793342,
 6836137,
 6847345,
 6882347,
 6899162,
 6918904,
 6934593,
 6934765,
 6942515,
 6968292,
 6989831,
 7041916,
 7041921,
 7046779,
 7058672,
 7073309,
 7078077,
 7094309,
 7122625,
 7123759,
 7130544,
 7169674,
 7201821,
 7278831,
 7286634,
 7293533,
 7294190,
 7310641,
 7316703,
 7335723,
 7336896,
 7339263,
 7352232,
 7355477,
 7358376,
 7379404,
 7394717,
 7397004,
 7400833,
 7401116,
 7414823,
 7418317,
 7419759,
 7422722,
 7442364,
 7445087,
 7472315,
 7558809,
 7563193,
 7587418,
 7590915,
 7658122,
 7679069,
 7681828,
 7698334,
 7709747,
 7728257,
 7753178,
 7768595,
 7770316,
 7800622,
 7854760,
 7880967,
 7892167,
 7951092,
 7951942,
 7954479,
 7957943,
 8044269,
 8055958,
 8063679,
 8071829,
 8087420,
 8114896,
 8130305,
 8154807,
 8192944,
 8198688,
 8213076,
 8331194,
 8338070,
 8339455,
 8363155,
 8372114,
 8386909,
 8393995,
 8417769,
 8442497,
 8467466,
 8468518,
 8563195,
 8579076,
 8614098,
 8630629,
 8644714,
 8661923,
 8691696,
 8697393,
 8704824,
 8706636,
 8710049,
 8725808,
 8731709,
 8749869,
 8778909,
 8787392,
 8797277,
 8801026,
 8813990,
 8837024,
 8843427,
 8880111,
 8886829,
 8907182,
 8909972,
 8918418,
 8966850,
 8971597,
 8979103,
 8985317,
 8991303,
 8998233,
 9003804,
 9019624,
 9030280,
 9058571,
 9082626,
 9083069,
 9085036,
 9087534,
 9137564,
 9153288,
 9184511,
 9213284,
 9216900,
 9226910,
 9229808,
 9236404,
 9251901,
 9256640,
 9273074,
 9317849,
 9348853,
 9357840,
 9362876,
 9375227,
 9405853,
 9407250,
 9435683,
 9451212,
 9468831,
 9472820,
 9492153,
 9495925,
 9523193,
 9534835,
 9542108,
 9579208,
 9597514,
 9603667,
 9625140,
 9638788,
 9661905,
 9668678,
 9743808,
 9818864,
 9847718,
 9888634,
 9892062,
 9912175,
 9930040,
 9940999,
 9941848,
 9955913,
 9957290,
 9961233,
 9972369,
 9980134,
 9984105,
 9999390,
 10014755,
 10015590,
 10031599,
 10039747,
 10045282,
 10047332,
 10107484,
 10137159,
 10156063,
 10157032,
 10160053,
 10204643,
 10212851,
 10220810,
 10232225,
 10240674,
 10259834,
 10289846,
 10296268,
 10296805,
 10316808,
 10324133,
 10340015,
 10341872,
 10359915,
 10386321,
 10386404,
 10391580,
 10441275,
 10485126,
 10492361,
 10515624,
 10519286,
 10520822,
 10547286,
 10607014,
 10659508,
 10661698,
 10668824,
 10716664,
 10744078,
 10785746,
 10793334,
 10804102,
 10815647,
 10840869,
 10853756,
 10863903,
 10883488,
 10890928,
 10896810,
 10898858,
 10900580,
 10905025,
 10909746,
 10922091,
 10928785,
 10949302,
 10991005,
 10991156,
 11020990,
 11055595,
 11064994,
 11094525,
 11106633,
 11145218,
 11161222,
 11165290,
 11172539,
 11176294,
 11182491,
 11204672,
 11205295,
 11272974,
 11351412,
 11352826,
 11358440,
 11382661,
 11437587,
 11447346,
 11447977,
 11454583,
 11469127,
 11495298,
 11508376,
 11530676,
 11549691,
 11557229,
 11559502,
 11595920,
 11600787,
 11613519,
 11633457,
 11637650,
 11656247,
 11675871,
 11696690,
 11701715,
 11705023,
 11718649,
 11724571,
 11740438,
 11837124,
 11843718,
 11856575,
 11892980,
 11921725,
 11951824,
 11951860,
 11975708,
 11979932,
 12043444,
 12056667,
 12064906,
 12082415,
 12082477,
 12082875,
 12121349,
 12142866,
 12269965,
 12294000,
 12312314,
 12313266,
 12347498,
 12378787,
 12402759,
 12436816,
 12450843,
 12518763,
 12523517,
 12572303,
 12609552,
 12630221,
 12639291,
 12657044,
 12774310,
 12780047,
 12792676,
 12830823,
 12874328,
 12954945,
 12966151,
 12975728,
 13007152,
 13025107,
 13054774,
 13073095,
 13108801,
 13121358,
 13133776,
 13147367,
 13233308,
 13301095,
 13309669,
 13357378,
 13380531,
 13382634,
 13486676,
 13497372,
 13519288,
 13546791,
 13549809,
 13550637,
 13578437,
 13629843,
 13647968,
 13648420,
 13655068,
 13674912,
 13686069,
 13701585,
 13763686,
 13776857,
 13788675,
 13807827,
 13825710,
 13882397,
 13885675,
 13893641,
 13972084,
 14001296,
 14004728,
 14042235,
 14053334,
 14076137,
 14124399,
 14128022,
 14140865,
 14145793,
 14192838,
 14203604,
 14206025,
 14234128,
 14245724,
 14258565,
 14287246,
 14303392,
 14305336,
 14325246,
 14368749,
 14378165,
 14380407,
 14407133,
 14437683,
 14472542,
 14495454,
 14503758,
 14510313,
 14518405,
 14593171,
 14630397,
 14657334,
 14719783,
 14725671,
 14756515,
 14800425,
 14815365,
 14854927,
 14864784,
 14869304,
 14924854,
 14978402,
 15020703,
 15151352,
 15161997,
 15200639,
 15335075,
 15345035,
 15368947,
 15378145,
 15394680,
 15436966,
 15513336,
 15527048,
 15557295,
 15566728,
 15576987,
 15581142,
 15737406,
 15738082,
 15872997,
 15878845,
 15914787,
 15941872,
 15961373,
 15971978,
 15980577,
 16040191,
 16055039,
 16121905,
 16270997,
 16283494,
 16311176,
 16370169,
 16397587,
 16411819,
 16438087,
 16462822,
 16489837,
 16535058,
 16540339,
 16608538,
 16660578,
 16674631,
 16689643,
 16697739,
 16755627,
 16864792,
 16948554,
 17004264,
 17035824,
 17037207,
 17060042,
 17067080,
 17073166,
 17074230,
 17086401,
 17118677,
 17130131,
 17134128,
 17137547,
 17179085,
 17201608,
 17217616,
 17242402,
 17244371,
 17248300,
 17323023,
 17344351,
 17403819,
 17431980,
 17434000,
 17443976,
 17478742,
 17486021,
 17509081,
 17528718,
 17538675,
 17562422,
 17574205,
 17583148,
 17588765,
 17593368,
 17618960,
 17625715,
 17634835,
 17676185,
 17760892,
 17796389,
 17799138,
 17830232,
 17853660,
 17853667,
 17897425,
 17911762,
 17919762,
 17919830,
 17946996,
 17958709,
 18010343,
 18010420,
 18031307,
 18039254,
 18302504,
 18324198,
 18324199,
 18327843,
 18357256,
 18358247,
 18377308,
 18379421,
 18425197,
 18443306,
 18474226,
 18498818,
 18501188,
 18501433,
 18552579,
 18650111,
 18653572,
 18670652,
 18693110,
 18702922,
 18826203,
 18862730,
 18882283,
 18882375,
 18910385,
 18933511,
 18945884,
 18947364,
 18994488,
 19013123,
 19058646,
 19086268,
 19145977,
 19190887,
 19211974,
 19312087,
 19381595,
 19393070,
 19522991,
 19562962,
 19614457,
 19661203,
 19666582,
 19679435,
 19766048,
 19772905,
 19804405,
 19804968,
 19808308,
 19815534,
 19822179,
 19845297,
 19854555,
 19863934,
 19870395,
 19884519,
 19896986,
 19964800,
 19992064,
 19994231,
 20004191,
 20017055,
 20026775,
 20091392,
 20116310,
 20146143,
 20186027,
 20213247,
 20236723,
 20324281,
 20329815,
 20378211,
 20385339,
 20452389,
 20535596,
 20537884,
 20554519,
 20567523,
 20605643,
 20606649,
 20616033,
 20632042,
 20660658,
 20668866,
 20686699,
 20692175,
 20695987,
 20702481,
 20711325,
 20717653,
 20730155,
 20741237,
 20770973,
 20856644,
 20857040,
 20882637,
 20915324,
 20942383,
 20969959,
 21017694,
 21103364,
 21117769,
 21128139,
 21136659,
 21157136,
 21171824,
 21173727,
 21203237,
 21213615,
 21230410,
 21230962,
 21245806,
 21282506,
 21293881,
 21335543,
 21349889,
 21351042,
 21360655,
 21363634,
 21401515,
 21438276,
 21451865,
 21453010,
 21463295,
 21464548,
 21478665,
 21484285,
 21528841,
 21545054,
 21578140,
 21616389,
 21629629,
 21635591,
 21638688,
 21641437,
 21657079,
 21664632,
 21673316,
 21714122,
 21726187,
 21748346,
 21756174,
 21794462,
 21877099,
 21877687,
 21897066,
 21905567,
 21907202,
 21918137,
 21919534,
 21922335,
 21972847,
 21983412,
 22056677,
 22083064,
 22090755,
 22113634,
 22122268,
 22122792,
 22159055,
 22208713,
 22227932,
 22238756,
 22277360,
 22313217,
 22317718,
 22347901,
 22352506,
 22358816,
 22363782,
 22364914,
 22404079,
 22406416,
 22445796,
 22467251,
 22467817,
 22504404,
 22509622,
 22526248,
 22557779,
 22558890,
 22569778,
 22584674,
 22619082,
 22682748,
 22698364,
 22745161,
 22750901,
 22758506,
 22797590,
 22857554,
 22896614,
 22901946,
 22923695,
 22965026,
 22969806,
 23073878,
 23098346,
 23191219,
 23255178,
 23269961,
 23328012,
 23396950,
 23528874,
 23549835,
 23780659,
 23811430,
 23848324,
 23849211,
 23850979,
 ...]

In [19]:
user_set = set(lowms_users)
statement_events = "SELECT user_id, track_id, artist_id, timestamp FROM events WHERE user_id IN " + str(tuple(user_set))
lowms_events_df = pd.read_sql(con=engine, sql=statement_events)

In [20]:
len(lowms_events_df), len(lowms_events_df.dropna())

(7941793, 7941793)

In [36]:
lowms_events_df = (lowms_events_df[~lowms_events_df["track_id"].isin(dominant_tracks)])

In [25]:
tracks_with_genres_df = pd.read_csv("data/artist_track_genres_prepared.csv", sep=COL_SEPARATOR, header=None)
tracks_with_genres_df.columns = ["track_id", "title", "artist_id", "artist", "playcount", "genres"]
tracks_with_genres_df.drop_duplicates(subset=["track_id", "title"], inplace=True)
tracks_with_genres_df.dropna(inplace=True)
tracks_with_genres_df["genres"] = tracks_with_genres_df.apply(lambda r: _genres_to_list(str(r[-1])), axis=1)
tracks_with_genres_df.head()

C:\Users\pmuellner\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,track_id,title,artist_id,artist,playcount,genres
0,11393952,Somebody That I Used to Know,3085,Gotye,185187,"[electronic, pop, indiepop, rock, singersongwr..."
1,4868,Rolling in the Deep,504,Adele,171202,"[soul, pop, singersongwriter, blues, jazz, ind..."
2,2900,Intro,32,The xx,130971,"[electronic, indiepop, shoegaze, dreampop, pos..."
3,2498,Blue Jeans,402,Lana Del Rey,130912,"[pop, soul, indiepop, chamberpop, triphop, dre..."
4,26142,We Are Young (feat. Janelle MonÃ¡e),3151,fun.,119257,"[pop, indiepop, rock, alternativerock, alterna..."

In [26]:
tracks_with_genres_df.isna().sum(axis=0)

track_id     0
title        0
artist_id    0
artist       0
playcount    0
genres       0
dtype: int64

In [27]:
(tracks_with_genres_df.dropna())["track_id"].nunique()

320504

In [28]:
tracks_with_genres = tracks_with_genres_df["track_id"].unique()
len(tracks_with_genres)

320504

In [29]:
tracks_with_acoustic_features_df = pd.read_sql(sql="SELECT track_id, danceability, energy, speechiness, acousticness, instrumentalness, tempo, valence, liveness FROM acoustic_features", con=engine)
tracks_with_acoustic_features_df.dropna(inplace=True)
tracks_with_acoustic_features_df.head()

,track_id,danceability,energy,speechiness,acousticness,instrumentalness,tempo,valence,liveness
0,1,0.463,0.877,0.0307,0.000111,0.000006,173.135,0.698,0.523
1,6,0.457,0.387,0.0314,0.728000,0.127000,120.011,0.041,0.114
2,7,0.268,0.903,0.0644,0.025200,0.016200,154.988,0.464,0.206
3,9,0.502,0.980,0.0591,0.000021,0.025600,121.962,0.388,0.102
4,11,0.200,0.275,0.0478,0.030200,0.606000,84.479,0.248,0.850

In [30]:
tracks_with_acoustic_features = tracks_with_acoustic_features_df["track_id"].unique()
len(tracks_with_acoustic_features)

3468289

In [31]:
dominant_tracks = pd.read_csv("../dominant_tracks.csv", header=None)[0].values.tolist()
len(dominant_tracks)

6056

In [37]:
df = pd.read_csv("data/lowms_les.csv", sep=";")

In [38]:
len(df), df["user_id"].nunique(), df["track_id"].nunique(), df["artist_id"].nunique()

(4725664, 2073, 147156, 14316)

In [39]:
len(lowms_events_df)

7836811

In [162]:
statement = "SELECT track_id, danceability, energy, speechiness, acousticness, instrumentalness, tempo, valence, liveness FROM acoustic_features"
df = pd.read_sql(sql=statement, con=engine).set_index("track_id")
print(len(df))
#df = df.loc[rel_tracks].dropna()
print(len(df))


track_genres_df = pd.read_csv("data/track_genres.csv", sep=";")
track_genres_df.columns = ["track_id", "genres"]
track_genres_df = track_genres_df[track_genres_df["genres"] != "[]"]
track_genres_df.set_index("track_id", inplace=True)

# use only tracks with genre annotations
df = df.loc[track_genres_df.index].dropna()
print(len(df))

3471884
3471884
147155

In [163]:
df.reset_index(inplace=True)
df = df[~df["track_id"].isin(dominant_tracks)]

In [164]:
len(df)

145130

In [86]:
track_genres_df = pd.read_csv("data/track_genres.csv", sep=";")
track_genres_df.columns = ["track_id", "genres"]
track_genres_df = track_genres_df[track_genres_df["genres"] != "[]"]
track_genres_df.set_index("track_id", inplace=True)
track_genres_df.head()

                                                     genres
track_id
2900      ['electronic', 'indiepop', 'shoegaze', 'dreamp...
572665    ['soul', 'pop', 'singersongwriter', 'blues', '...
2897      ['indierock', 'electronic', 'indiepop', 'postp...
15100     ['folk', 'indiefolk', 'banjo', 'folkrock', 'bl...
7112      ['rock', 'indierock', 'alternativerock', 'pop'...

In [105]:
len(track_genres_df)

147155

In [15]:
tracks_with_genres_df = tracks_with_genres_df[["track_id", "genres"]]
tracks_with_genres_df.set_index("track_id", inplace=True)
tracks_with_genres_df.head()

                                                     genres
track_id
11393952  [electronic, pop, indiepop, rock, singersongwr...
4868      [soul, pop, singersongwriter, blues, jazz, ind...
2900      [electronic, indiepop, shoegaze, dreampop, pos...
2498      [pop, soul, indiepop, chamberpop, triphop, dre...
26142     [pop, indiepop, rock, alternativerock, alterna...

In [ ]:
1+1

In [40]:
lowms_events_df = lowms_events_df[lowms_events_df["track_id"].isin(tracks_with_genres_df["track_id"].unique())]
lowms_events_df["track_id"].nunique()

157488

In [41]:
lowms_events_df.dropna(inplace=True)

In [42]:
len(lowms_events_df)

4917260