In [29]:
import pandas as pd
import sqlalchemy

SQL_CREDENTIALS = "root:1234"
engine = sqlalchemy.create_engine('mysql+pymysql://' + SQL_CREDENTIALS + '@localhost:3306/music_recommender_db')

In [59]:
dominant_tracks = pd.read_csv("dominant_tracks.csv", header=None)[0].values.tolist()
len(dominant_tracks)

6056

In [70]:
lowms_events_df = pd.read_csv("feature_engineering/data/lowms_les.csv", sep=";")
lowms_events_df.head()

    user_id  track_id  artist_id   timestamp
0  31435741        53         21  1370977938
1  31435741        53         21  1370977728
2  31435741        53         21  1370977518
3  31435741        53         21  1370977308
4  31435741        53         21  1370977098

In [71]:
len(lowms_events_df)

4725664

In [67]:
lowms_clean_df = lowms_events_df[~lowms_events_df["track_id"].isin(dominant_tracks)]
lowms_clean_df.head()

    user_id  track_id  artist_id   timestamp
0  31435741        53         21  1370977938
1  31435741        53         21  1370977728
2  31435741        53         21  1370977518
3  31435741        53         21  1370977308
4  31435741        53         21  1370977098

In [68]:
len(lowms_clean_df)

4682141

In [64]:
len(lowms_events_df)

4725664

In [52]:
lowms_clean_df.to_csv("feature_engineering/data/lowms_events_nondominating.csv", sep=";", index=False)

In [69]:
lowms_clean_df["track_id"].nunique()

145131

In [72]:
stmt = "SELECT track_id, danceability, energy, speechiness, acousticness, instrumentalness, tempo, valence, liveness FROM acoustic_features"
af_df = pd.read_sql(con=engine, sql=stmt)

In [26]:
lowms_af_df = af_df[af_df["track_id"].isin(lowms_clean_df["track_id"].unique())]
len(lowms_af_df)

145131

In [14]:
lowms_af_df.isna().sum(axis=0)

track_id            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
dtype: int64

In [15]:
af_df.isna().sum(axis=0)

track_id               0
danceability        2655
energy               373
key                  294
loudness               0
mode                 294
speechiness         2654
acousticness         401
instrumentalness     454
liveness             759
valence             3595
tempo                  0
dtype: int64

In [27]:
track_genres_df = pd.read_csv("feature_engineering/data/track_genres.csv", sep=";", header=None)
track_genres_df.columns = ["track_id", "genres"]
track_genres_df = track_genres_df[track_genres_df["genres"] != "[]"]
track_genres_df.head()

   track_id                                             genres
0      4868  ['soul', 'pop', 'singersongwriter', 'blues', '...
1      2900  ['electronic', 'indiepop', 'shoegaze', 'dreamp...
2    572665  ['soul', 'pop', 'singersongwriter', 'blues', '...
3      2897  ['indierock', 'electronic', 'indiepop', 'postp...
4     15100  ['folk', 'indiefolk', 'banjo', 'folkrock', 'bl...

In [28]:
len(track_genres_df)

147156

In [3]:
track_genres_df = pd.read_csv("feature_engineering/data/track_genres.csv", sep=";", header=None)
track_genres_df.columns = ["track_id", "genres"]
track_genres_df.head()

   track_id                                             genres
0      4868  ['soul', 'pop', 'singersongwriter', 'blues', '...
1      2900  ['electronic', 'indiepop', 'shoegaze', 'dreamp...
2    572665  ['soul', 'pop', 'singersongwriter', 'blues', '...
3      2897  ['indierock', 'electronic', 'indiepop', 'postp...
4     15100  ['folk', 'indiefolk', 'banjo', 'folkrock', 'bl...

In [40]:
track_genres_df["track_id"].nunique()

147156